<div id="banner">
  <div class="banner_content">
    <h1>NoteNote</h1>
    <p> Your online notebook. Never forget an idea again</p>
    <button><%= link_to "Sign Up", new_user_registration_path %></button>
  </div>
</div>


<div id="testimonial">
  <div class="wrapper">
    <p class="quote"> "The greatesr notebook application. Period. "</p>
    <p class="name"> - Nimi </p>
  </div>
</div>

<div id="callouts">
  <div class="callout_inner">
    <div class="wrapper">
      <div class="callout">
        <h2> Notes </h2>
        <p> Cardigan pabst dreamcatcher, hoodie roof party hammock deep v fixie 8-bit gentrify offal pitchfork church-key williamsburg letterpress. Hashtag narwhal  </p>
      </div>
      <div class="callout">
        <h2> Rocket </h2>
        <p> Cardigan pabst dreamcatcher, hoodie roof party hammock deep v fixie 8-bit gentrify offal pitchfork church-key williamsburg letterpress. Hashtag narwhal  </p>
      </div>
      <div class="callout">
        <h2> Lighting </h2>
        <p> Cardigan pabst dreamcatcher, hoodie roof party hammock deep v fixie 8-bit gentrify offal pitchfork church-key williamsburg letterpress. Hashtag narwhal  </p>
      </div>
    </div>
  </div>
</div>

<div id="bottom_cta">
  <div class="wrapper">
    <h2> For real </h2>
    <p> I want you to sign up... If you don't, I will find you! hahaha</p>
    <button> <%= link_to "Click meee!!!", new_user_registration_path %></button>
  </div>
</div>

<footer>
  <p> &copy; Nimi'zzz </p>
</footer>








